ChaseBankApplication/WebContent/wsdl/PaymentProcessorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://payment.chase.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://payment.chase.com" xmlns:intf="http://payment.chase.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://payment.chase.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ping">
    <complexType/>
   </element>
   <element name="pingResponse">
    <complexType>
     <sequence>
      <element name="pingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="processPayment">
    <complexType>
     <sequence>
      <element name="info" type="impl:CreditCardPayment"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CreditCardPayment">
    <sequence>
     <element name="ccHolderName" nillable="true" type="xsd:string"/>
     <element name="ccNumber" nillable="true" type="xsd:string"/>
     <element name="cvvCode" nillable="true" type="xsd:string"/>
     <element name="expirationDate" nillable="true" type="xsd:string"/>
     <element name="paymentAmount" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="processPaymentResponse">
    <complexType>
     <sequence>
      <element name="processPaymentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="pingRequest">

      <wsdl:part element="impl:ping" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="processPaymentRequest">

      <wsdl:part element="impl:processPayment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pingResponse">

      <wsdl:part element="impl:pingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="processPaymentResponse">

      <wsdl:part element="impl:processPaymentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PaymentProcessor">

      <wsdl:operation name="ping">

         <wsdl:input message="impl:pingRequest" name="pingRequest">

       </wsdl:input>

         <wsdl:output message="impl:pingResponse" name="pingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="processPayment">

         <wsdl:input message="impl:processPaymentRequest" name="processPaymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:processPaymentResponse" name="processPaymentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaymentProcessorSoapBinding" type="impl:PaymentProcessor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ping">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="pingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="processPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="processPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="processPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaymentProcessorService">

      <wsdl:port binding="impl:PaymentProcessorSoapBinding" name="PaymentProcessor">

         <wsdlsoap:address location="http://tempuri.org/ChaseBankApplication/services/PaymentProcessor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
